<h3>Editing {{species_name}}</h3>
<form action="/api/update/{{id}}" method="post">
    <table border="1">
        <tr>
            <th>Species</th>
            <th>Description</th>
            <th>Conservation Status</th>
            <th>Actions:</th>
        </tr>
        <tr>
            <td><input type="text" name="species_name" value="{{species_name}}"></td>
            <td><textarea name="description" cols="80" rows="3">{{description}}</textarea></td>
            <td style="color:{{color}}">
                <select id="statusList" name="conservation_status" value="{{conservation_status}}">
                    {{#each options}}
                        <option value="{{tag}}" {{#if (isEqual tag ../this.conservation_status)}}selected{{/if}}>{{tag}}</option>
                    {{/each}}
                </select>    
            </td>
            <td>
                <button action="submit">Update</button>
                {{#unless (isEqual id -1)}}
                <button onclick=
                    "if (confirm('Are you sure about that? There is no undo button.')) {
                        $.ajax({
                            method: 'DELETE',
                            url: '/api/delete/{{id}}'
                        });
                    }"
                    method="DELETE">Delete</button>
                {{/unless}}
                <button onclick="location.href='/index'">Cancel</button>
            </td>
        </tr>
    </table>
    <br>
    <br>
</form>
