<h3>Editing {{species_name}}</h3>
<form action="/api/update/{{id}}" method="post">
    <table border="1">
        <tr>
            <th>Species</th>
            <th>Description</th>
            <th>Conservation Status</th>
            <th>Actions:</th>
        </tr>
        <tr>
            <td><input type="text" name="species_name" value="{{species_name}}"></td>
            <td><textarea name="description" cols="80" rows="3">{{description}}</textarea></td>
            <td style="color:{{color}}">
                <select id="statusList" name="conservation_status" value="{{conservation_status}}">
                    {{#each options}}
                        <option value="{{tag}}" {{#if (isEqual tag ../this.conservation_status)}}selected{{/if}}>{{tag}}</option>
                    {{/each}}
                    {{!-- <option value="extinct">extinct</option>
                    <option value="extinct in the wild">extinct in the wild</option>
                    <option value="critically endangered">critically endangered</option>
                    <option value="endangered" {{#if (isEqual "endangered" conservation_status)}}selected{{/if}}>endangered</option>
                    <option value="threatened">threatened</option>
                    <option value="near threatened">near threatened</option>
                    <option value="least concern">least concern</option> --}}
                </select>    
            </td>
            <td>
                <button action="submit">Ok</button>
                <button onclick="location.href='/index'">Cancel</button>
            </td>
        </tr>
    </table>
    <br>
    <br>
</form>
