<table border="1">
    <tr>
        <th>Species</th>
        <th>Description</th>
        <th>Conservation Status</th>
        <th>Actions:</th>
    </tr>
    {{#each animals}}
        <tr>
            <td>{{species_name}}</td>
            <td>{{description}}</td>
            <td style="color:{{color}}">{{conservation_status}}</td>
            {{#if extinct}}
                <td>
                    <button class="conserveButton" data-name="{{species_name}}" data-id="{{id}}">de-extinctify</button>
                </td>
            {{/if}}
            {{#unless extinct}}
                <td style="text-align:center">
                    <button class="conserveButton" data-name="{{species_name}}" data-id="{{id}}">conserve</button>
                    <br>
                    <button class="exploitButton" data-name="{{species_name}}" data-id="{{id}}">exploit</button>
                </td>
            {{/unless}}
        </tr>
    {{/each}}
</table>
<script src="/assets/js/index.js"></script>
