<table border="1">
    <tr>
        <th>Species</th>
        <th>Description</th>
        <th>Conservation Status</th>
        <th>Actions:</th>
    </tr>
    {{#each animals}}
        <tr>
            <td>{{species_name}}</td>
            <td>{{description}}</td>
            <td style="color:{{color}}">{{conservation_status}}</td>
            <td style="text-align:center">
                {{!-- conserve/exploit or de-extinctify, depending --}}
                {{#if extinct}}
                    <button class="conserveButton" data-name="{{species_name}}" data-id="{{id}}">de-extinctify</button>
                {{/if}}
                {{#unless extinct}}
                    <button class="conserveButton" data-name="{{species_name}}" data-id="{{id}}">conserve</button>
                    <br>
                    <button class="exploitButton" data-name="{{species_name}}" data-id="{{id}}">exploit</button>
                {{/unless}}
                {{!-- edit button, always visible --}}
                <br>
                <button class="editButton" data-name="{{species_name}}" data-id="{{id}}">edit</button>
            </td>
        </tr>
    {{/each}}
</table>
<script src="/assets/js/index.js"></script>

<button id="engineerButton" onclick="location.href ='/api/new'">Engineer a new creature!</button>
